body {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border: rgb(82, 78, 78);
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 10px 5px 5px rgb(56, 49, 49);
}
#global {
    background-color: rgb(196, 196, 196);
}
header img {
    width: 250px;
    box-shadow: 10px 5px 5px rgb(56, 49, 49);
}
section header img {
    width: 40px;
    height: 45px;
    box-shadow: 5px 5px 5px rgb(56, 49, 49);
    margin-right: 30px;
}
section {
    background-color: white;
    border-bottom: solid black;
}
#compet_info img {
    width: 30px;
}
.head {
    display: flex;
    justify-content: space-between;
    margin: auto;
    border-bottom: solid black;
}
.section_header {
    display: flex;
    justify-content: space-around;
    background-color: rgb(151, 146, 146);
    margin: auto;
    height: auto;
    border-bottom: solid black;
}
#poste {
    width: 400px;
}
#java {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
#spring {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
#angular {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.compet-exp {
    display: flex;
    justify-content: space-around;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}
#compet_info {
    box-shadow: 10px 5px 5px rgb(82, 78, 78);
    background-color: rgb(196, 196, 196);
    padding-left: 10px;
}
#formation {
    display: flex;
    flex-direction: column;
    border-bottom: solid black;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 10px 5px 5px rgb(82, 78, 78);
    background-color: rgb(196, 196, 196);
    padding-left: 10px;
}
#exp {
    display: flex;
    flex-direction: column;
    width: auto;
    box-shadow: 10px 5px 5px rgb(82, 78, 78);
    background-color: rgb(196, 196, 196);
    padding-left: 10px;
}
#exp p span {
    display: flex;
    width: auto;
}
#formation p span {
    display: flex;
    width: auto;
}
footer {
    text-align: center;
}
button {
    width: 75px;
    height: 25px;
}
.cl-aside {
    display: flex;
    justify-content: space-around;
    border-bottom: solid black;
    margin-bottom: 20px;
    box-shadow: 2px 5px 5px rgb(82, 78, 78);
}
#hobbies li{
    list-style: none;
    padding: 10px;
}
